.projects {
    text-align: justify;
    margin-left: 75px;
}

.projects h1 {
    font-size: 45px;
}

@media only screen and (max-width: 600px) {
    .projects {
        width: 90%;
        margin: auto;
    }

}